.container {
    padding: 1rem;
}

.title {
    font-weight: 600;
    margin-bottom: 1rem;
}

.alert {
    margin-bottom: 1rem;
    background-color: var(--mantine-color-dark-3) !important;
}

.success {
    background-color: var(--mantine-color-primary-5);
    margin: 1rem 0;
}