.container {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--mantine-color-body-border);
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: var(--mantine-color-body);
    z-index: 2;
    @media (max-width: $mantine-breakpoint-md) {
        display: flex;
    }
}

.company {
    align-items: center;
    gap: 0.25rem;
}

.logo {
    width: 2.5rem;
}

.name {
    font-weight: 600;
    letter-spacing: -0.01rem;
    font-size: 1.25rem;
}

.special {
    font-size: 1.5rem;
    background: linear-gradient(to bottom, var(--mantine-color-primary-5), var(--mantine-color-secondary-5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.drawerBody {
    height: calc(100% - 60px);
}

.drawerContainer {
    flex-direction: column;
    height: 100%
}